<body>
    <div class="main">
        <div class="ingreso">
            <h1 class="entry-title">
                <span>B</span><span>I</span><span>E</span><span>N</span><span>V</span><span>E</span><span>N</span><span>I</span><span>D</span><span>O</span><span>S</span><span>!</span>
            </h1>
            <p>
                Somos <strong>especialistas</strong> en salud! <br>
                Contamos actualmente con 3 consultorios físicos en la clínica.
            </p>
        </div>
        <div>
            
        </div>
        <p style="background-color: rgba(50, 171, 131, 0.277);box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.317);">
            <strong>Abierto de <br> lunes a sábados de 8:00 am a 23:00 pm <br></strong>
        </p>
    </div>
</body>